@page "/RecipeViewer"
@inherits UI.Pages.RecipeViewerModel
@using Domain;

<div class="main">
@if (Recipe == null)
{
    <div></div>
}
else
{
<div class="container">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-3 mb-5">
            <div class="card h-100" style="border: 5px solid black;">
                <div class="card-body">
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="@((Recipe.PrimaryImage.Image != null)?"data:image/bmp;base64, "+Convert.ToBase64String(Recipe.PrimaryImage.Image):@"images\ImageMissing.jpg")" /></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="" alt="..." /></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="" alt="..." /></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text"><img class="img-fluid rounded mb-4 mb-lg-0" src="" alt="..." /></p>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>
    <span>@Recipe.Name</span> <button type="button" class="btn btn-primary btn-sm" @onclick="(() => EditRecipe())">Edit</button>
</h3>
<h6>
    <span>@Recipe.Description</span>
</h6>
<hr />
<h4>Ingredients</h4>
    <CascadingValue Name="RecipeId" Value="@Recipe.Id">
        <CascadingValue Name="IsEditable" Value="false">
            <IngredientSectionsEditor />
        </CascadingValue>
    </CascadingValue>
<hr />
<h4>Instructions</h4>
    <CascadingValue Name="RecipeId" Value="@Recipe.Id">
        <CascadingValue Name="IsEditable" Value="false">
            <InstructionSectionsEditor />
        </CascadingValue>
    </CascadingValue>
}
</div>
